body {
	font-family: 'Open Sans', sans-serif;
}
.app {
	padding:0 2em 4em;
}

section {
	width:80%;
	margin:auto;
	padding:1em 2em;
	text-align:left;
	border-bottom: 1px solid darkgray;
}

h1,h2,h3,h4 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size:3em;
	margin:0.5em 0;
}
h2 {
	font-size: 1.75em;
	margin:0.5em 0 0 0;
}

p {
	line-height:1.5em;
	margin-bottom: 1em;
}
.grays .color-swatch {
	border:1px solid black;
}

.swatch-holder {
	display:flex;
	flex-flow: row nowrap;
	width:100%;
}
.color-swatch {
	height:7em;
	text-align:center;
	flex:1;
	cursor: pointer;
}


@media (max-width: 800px) {
  .swatch-holder {
    display: block;
  }

  .color-swatch {
  	border:1px solid black;
  }
}
.color-swatch-input {
	margin:4em 1em;
	height:2em;
	text-align:center;
	width:80%;
	text-transform: uppercase;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.button {
	font-family: 'Oswald', sans-serif;
	font-size:1em;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 1em 0;
	padding: 0.85em 1em;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	font-family: inherit;
	-webkit-appearance: none;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	color: #fefefe;
	text-decoration:none;
}

.pallet {
	border:none;
	display:block;
}

.pallet-title {
	font-size: 1.75em;
	margin:0.5em 0 0 0;
	margin:0;
	padding:1em;
	flex:1;
	min-width:125px;
}

@media screen and (max-width:800px){
	.pallet-harmonized {
		margin-top:2em;
	}	
}


hr {
	margin:0;
	padding:0;
	color:#FFF;
}